body {
    text-align: center;
}

#title {
    background-color: #ff4c68;
    text-align: left;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat';
}

p {
    color: #8f8f8f;
}


/* Headings */

.big-heading,
.cta-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
    /* padding-top: 25%; */
    margin-bottom: 30px;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.btn-lg {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    padding: 15px;
}

.btn-dark {
    margin-right: 20px;
    padding: 10px 20px 10px 20px;
}

.btn-outline-light {
    padding: 10px 20px 10px 20px;
}

ul {
    font-size: 1.5rem;
}

.nav-item {
    margin: 15px;
}

.iphoneimg {
    width: 60%;
    /* height: 400px; */
    transform: rotate(25deg);
    position: relative;
    left: 20%;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 0;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-link {
    font-size: 1.2rem;
}

.collapse {
    padding-left: 0;
}

.textsection {
    margin: auto;
}

#features {
    padding: 7% 15%;
    background-color: white;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 5%;
}

.icontext {
    color: #8f8f8f;
}

.icon:hover {
    color: #ff4c68 !important;
}


/* Testimonial section */

#testimonials {
    padding: 7% 15%;
    background-color: #ef8172;
    color: white;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* Press section */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing section */

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}


/* cta section */

#cta {
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
}

.btn-light {
    padding: 10px 20px 10px 20px;
}


/* footer section */

#footer {
    padding: 7% 15%;
}

.social-icon {
    margin: 20px 10px;
}

@media (max-width:1028px) {
    #title {
        text-align: center;
    }
    .iphoneimg {
        position: static;
        transform: rotate(0);
    }
}